@charset "UTF-8";
/*ヘッダー上部　ロゴ、連絡先　部分*/
.headerTop {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.headerTop-left {
  -ms-flex-item-align: center;
      align-self: center;
}
.headerTop-right-top {
  font-size: 10px;
  margin-top: 15px;
  text-align: center;
}
.headerTop-right .top-tel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 20px 0 10px;
}
.headerTop-right .top-tel-number {
  font-size: 26px;
  padding-left: 10px;
}
.headerTop-right-buttom {
  font-size: 10px;
  border: 1px solid #333;
  width: 230px;
  padding: 10px 20px;
  margin-bottom: 20px;
}
.headerTop-right-buttom span {
  color: red;
}

/*ヘッダー下部　メニューの部分*/
.headerMenu-items {
  border: 1px solid #6cc6c4;
  border-radius: 5px;
  background: -webkit-gradient(linear, left bottom, left top, from(#6cc6c4), to(#9ce3e1));
  background: linear-gradient(to top, #6cc6c4, #9ce3e1);
}
.headerMenu-items ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
.headerMenu-items ul li {
  text-align: center;
  padding: 20px 0;
  width: 20%;
  cursor: pointer;
}
.headerMenu-items ul li h2 {
  font-size: 14px;
  color: #fff;
}
.headerMenu-items ul li p {
  font-size: 10px;
  margin-top: 5px;
  color: #fff;
}
.headerMenu-items ul li:nth-of-type(even) {
  border-left: 1px solid #6cc6c4;
  border-right: 1px solid #6cc6c4;
  -o-border-image: linear-gradient(to bottom, #6cc6c4, #9ce3e1) 1 100%;
     border-image: -webkit-gradient(linear, left top, left bottom, from(#6cc6c4), to(#9ce3e1)) 1 100%;
     border-image: linear-gradient(to bottom, #6cc6c4, #9ce3e1) 1 100%;
}
.headerMenu-items ul li:hover {
  background: -webkit-gradient(linear, left top, left bottom, from(#6cc6c4), to(#9ce3e1));
  background: linear-gradient(to bottom, #6cc6c4, #9ce3e1);
}

/*メインの部分*/
.main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 23px;
}
.main-left {
  width: 30%;
}
.main-left-top {
  margin-bottom: 20px;
  border: 1px solid #6cc6c4;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.main-left-top h3 {
  font-size: 16px;
  padding: 15px;
  font-weight: bold;
  color: #fff;
  background: -webkit-gradient(linear, left bottom, left top, from(#6cc6c4), to(#9ce3e1));
  background: linear-gradient(to top, #6cc6c4, #9ce3e1);
}
.main-left-top ul li {
  font-size: 14px;
  padding: 15px 25px;
  font-weight: bold;
  color: #595959;
  margin: 0 15px;
  border-bottom: 1px solid #6cc6c4;
  background: url(images/bgListIcon01.png) no-repeat 5px center;
}
.main-left-top ul li:nth-child(4) {
  margin-bottom: 25px;
}
.main-left-bottom {
  border: 1px solid #6cc6c4;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.main-left-bottom h3 {
  font-size: 16px;
  padding: 15px;
  font-weight: bold;
  color: #fff;
  background: -webkit-gradient(linear, left bottom, left top, from(#6cc6c4), to(#9ce3e1));
  background: linear-gradient(to top, #6cc6c4, #9ce3e1);
}
.main-left-bottom ul li {
  font-size: 14px;
  padding: 15px 25px;
  font-weight: bold;
  color: #595959;
  margin: 0 15px;
  border-bottom: 1px solid #6cc6c4;
  background: url(images/bgListIcon01.png) no-repeat 5px center;
}
.main-left-bottom ul li:nth-child(4) {
  margin-bottom: 25px;
}
.main-right {
  width: 70%;
  margin-left: 20px;
}
.main-right-top {
  margin-bottom: 10px;
}
.main-right-bottom {
  background-color: #fff;
  color: #515151;
  margin-bottom: 25px;
}
.main-right-bottom h4 {
  padding: 36px 5px 20px;
  margin: 0 23px;
  border-bottom: 3px solid #6cc6c4;
}
.main-right-bottom-info {
  margin: 13px 30px 0;
  padding-bottom: 50px;
}
.main-right-bottom-info .info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-bottom: 1px solid #ccc;
}
.main-right-bottom-info .info .day {
  font-size: 13px;
  width: 20%;
  line-height: 23px;
  padding-top: 15px;
}
.main-right-bottom-info .info .txt {
  font-size: 13px;
  width: 80%;
  margin-left: 32px;
  line-height: 20px;
  padding: 13px 0;
}

/*アンダーメニューの部分*/
.under-menu {
  background-color: #6cc6c4;
  border-radius: 5px;
  margin-bottom: 20px;
}
.under-menu ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.under-menu ul li {
  font-size: 13px;
  padding: 12px 0 10px 25px;
  margin-left: 20px;
  background: url(images/bgFooterIcon.png) left center no-repeat;
}
.under-menu ul a {
  color: #fff;
}
.under-menu ul a:hover {
  border-bottom: 1px solid #fff;
}

/*styleScss*/
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  color: #333;
  border-top: 8px solid #6cc6c4;
  background-color: #f6f6f6;
}

a {
  color: #333;
  text-decoration: none;
}

#wrapper {
  width: 920px;
  margin: 0 auto;
}
/*# sourceMappingURL=style.css.map */