/*メイン2の部分*/
//グラデーションのコード　有り


.main2{
  display: flex;
  margin-bottom: 25px;
  
  &-left{
      width: 30%;
      &-top{
          margin-bottom: 20px;
          border: 1px solid #6cc6c4;
          border-top-left-radius: 5px;
          border-top-right-radius: 5px;
          h3{
              font-size: 16px;
              padding: 15px;
              font-weight: bold;
              color: #fff;
              background: -moz-linear-gradient(bottom,#6cc6c4,#9ce3e1);
              background: -webkit-linear-gradient(bottom,#6cc6c4,#9ce3e1);
              background: linear-gradient(to top,#6cc6c4,#9ce3e1);
        
          }
          ul{
              li{
                  font-size: 14px;
                  padding: 15px 25px;
                  font-weight: bold;
                  color: #595959;
                  margin: 0 15px;
                  border-bottom: 1px solid #6cc6c4;
                  background: url(images/bgListIcon01.png) no-repeat 5px center;
              }
              li:nth-child(4){
                  margin-bottom: 25px;
              }
          }
          
      }
      &-bottom{
          border: 1px solid #6cc6c4;
          border-top-left-radius: 5px;
          border-top-right-radius: 5px;
          h3{
              font-size: 16px;
              padding: 15px;
              font-weight: bold;
              color: #fff;
              background: -moz-linear-gradient(bottom,#6cc6c4,#9ce3e1);
              background: -webkit-linear-gradient(bottom,#6cc6c4,#9ce3e1);
              background: linear-gradient(to top,#6cc6c4,#9ce3e1);

          }
          ul{
              li{
                  font-size: 14px;
                  padding: 15px 25px;
                  font-weight: bold;
                  color: #595959;
                  margin: 0 15px;
                  border-bottom: 1px solid #6cc6c4;
                  background: url(images/bgListIcon01.png) no-repeat 5px center;
              }
              li:nth-child(4){
                  margin-bottom: 25px;
              }

          }

      }
  }
  &-right{
      width: 70%;
      margin-left: 20px;
      &-top{
          p{
            font-size: 20px;
            padding: 45px 15px 35px;
            font-weight: bold;
            color: #fff;
            background: -moz-linear-gradient(bottom,#6cc6c4,#9ce3e1);
            background: -webkit-linear-gradient(bottom,#6cc6c4,#9ce3e1);
            background: linear-gradient(to top,#6cc6c4,#9ce3e1);
            border-top-left-radius: 5px;
            border-top-right-radius: 5px;

          }
      }
      &-bottom{
          background-color: #fff;
          color: #515151;
          margin-bottom: 25px;
          h4{
              padding: 36px 5px 20px;
              margin: 0 22px;
              border-bottom: 3px solid #6cc6c4;
              font-weight: bold;
          }
          h5{
              font-size: 15px;
              color: #6cc6c4;
              margin: 50px 30px 0;
              font-weight: bold;
          }
          .subtext-title-top{
            font-size: 15px;
            color: #6cc6c4;
            margin: 20px 23px 25px;
            padding-left: 5px;
            font-weight: bold;
          }
          .subtext-title{
            font-size: 15px;
            color: #6cc6c4;
            margin: 25px 23px;
            padding-left: 5px;
            font-weight: bold;
          }

          p{
              font-size: 13px;
              line-height: 23px;
              margin: 13px 30px 15px;
            }
          .main2-right-bottom-text{
              font-size: 13px;
              line-height: 23px;
              margin: 13px 22px 15px;
            }
          .main2-right-bottom-text-end{
              font-size: 13px;
              line-height: 23px;
              margin: 13px 22px 0;
              padding-bottom: 34px;
            }

          /*.table{
              margin: 20px 23px 27px;
              .list-day{
                  display: flex;
                  background-color: #d1d1d1;
                  ul{
                      border-top:  1px solid #515151;
                      border-left:  1px solid #515151;
                      border-right:  1px solid #515151;
                  }
              }
              .list-am{
                  display: flex;
                  ul{
                    border:  1px solid #515151;
                    }
                    
                }
              .list-pm{
                  display: flex;
                  ul{
                    border-bottom:  1px solid #515151;
                    border-left:  1px solid #515151;
                    border-right:  1px solid #515151;
                  }
                }
              li{
                  height: 45px;
                  width: 14%;
                  font-size: 13px;
                  color: #515151;
                  //border: 1px solid #515151;
                  display: flex;
                  justify-content: center;
                  align-items: center;

                }
              li:nth-of-type(1){
                  width: 16%;
                }
              li:nth-of-type(4){
                  width: 28%;
                }

                //表のボーダー
              .list-am li:nth-of-type(odd){
                border:  1px solid #515151;
                }
              .list-am li:nth-of-type(even){
                border-top:  1px solid #515151;
                border-bottom:  1px solid #515151;
                }
              .list-am li:nth-of-type(6){
                border-right:  1px solid #515151;
                }
              .list-day li:nth-of-type(odd){
                border-top:  1px solid #515151;
                border-left:  1px solid #515151;
                border-right:  1px solid #515151;
                }
              .list-day li:nth-of-type(even){
                border-top:  1px solid #515151;
                }
              .list-day li:nth-of-type(6){
                border-right:  1px solid #515151;
                }
              .list-pm li:nth-of-type(odd){
                border-bottom:  1px solid #515151;
                border-left:  1px solid #515151;
                border-right:  1px solid #515151;
                }
              .list-pm li:nth-of-type(even){
                border-bottom:  1px solid #515151;
                }
              .list-pm li:nth-of-type(6){
                border-right:  1px solid #515151;
                }
            }
            p span{
                font-weight: bold;
            }*/
          }
          //staff紹介
          /*.staff-info{
            display: flex;
            margin: 0 22px;
            &-left{
              margin: 15px 20px 25px 0;
              &-bottom{
                font-size: 13px;
                margin-top: 20px;
                color: #fff;
                background-color: #6cc6c4;
                border-radius: 2px;
                text-align: center;
                padding: 5px 0;
              }
            }
            &-right{
              margin-top: 15px;
              &-top{
                margin: 20px 0;
                color: #6cc6c4;
                font-size: 15px;
                font-weight: bold;
              }
              &-bottom{
                li{
                  font-size: 13px;
                  line-height: 23px;
                }
              }
            }
          }
          .staff-info2{
            margin: 15px 22px 0;

          }*/
          //アクセス
          /*.access{
            margin: 0 22px;
            &-map{
              margin: 15px auto 30px;
            }
          }
          .borderline{
            margin: 0 22px;
            border-bottom: 3px solid #6cc6c4;
          }
          .access-info{
            display: flex;
            margin: 0 22px;
            &-left{
              margin: 15px 20px 25px 0;
            }
            &-right{
              margin-top: 15px;
              &-top{
                margin: 20px 0;
                color: #6cc6c4;
                font-size: 15px;
                font-weight: bold;
              }
              &-bottom{
                &-text{
                  font-size: 13px;
                  line-height: 23px;
                  margin: 0;
                }
              }
            }
          }*/



      }
}
