/*ヘッダー上部　ロゴ、連絡先　部分*/

.headerTop{
  display: flex;
  justify-content: space-between;
  &-left{
      align-self: center;

  }
  &-right{
      &-top{
          font-size: 10px;
          margin-top: 15px;
          text-align: center;
      }
      .top-tel{
          display: flex;
          justify-content: center;
          margin: 20px 0 10px;
          &-number{
              font-size: 26px;
              padding-left: 10px;
          }
      }
      &-buttom{
          font-size: 10px;
          border: 1px solid #333;
          width: 230px;
          padding: 10px 20px;
          margin-bottom: 20px;
          span{
              color: red;
          }
      }

  }
}
@media screen and (max-width:920px) {
    .headerTop{
        display: block;
        &-left{
            text-align: center;
            margin-top: 15px;
        }
        &-right{
            &-top{
                margin: 0;
            }
            .top-tel{
                margin: 15px 0 10px;
            }
            &-buttom{
                margin: 0 auto 20px;
            }
        }
    }
    
}
@media screen and (max-width:600px) {
    .headerTop{
        margin-top: 65px;
        padding-bottom: 20px;
        border-bottom: 10px solid #6cc6c4;
    }
}